*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --background-color:hsl(227, 100%, 98%);
  --background-dark:rgb(20, 29, 46);
  --background-card:rgb(30, 43, 72);
  --dark-blue:rgb(20, 29, 46);
}

button{
  outline: none;
  border: none;
}
button{
  cursor: pointer;
  transition: 0.2s ease;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:var(--background-color);
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.3s ease;
}


.dark .mode-toggle {
  color: #fff;
  background-color: var(--dark-blue);
}
.dark{
  background-color:var(--background-dark) ;
  color: #fff;
}
.dark .header{
  background-color: var(--dark-blue);
}


